<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Chart</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/layout-chart.css">
</head>
<body>
<div class="LC-container js-LC-container">
    <p class="LC-container__header">Layout Chart</p>
</div>
<script src="../vendor/jquery/dist/jquery.js"></script>
<script src="../vendor/d3/d3.js"></script>
<script src="../js/layout-chart.js"></script>
</body>
</html>